$pink: #E9BCBC;
$white: #ffffff;
$grey: #F1F1F1;

body {
   
   box-sizing: border-box;
   
}
//////////////////////////////////////////////////////////////////////////////
.wrapper {
   max-width: 1440px;
   background-color: #151515;
}
.container {
   position: relative;
   max-width: 1260px;
   padding-top: 37px;
   padding-bottom: 37px;
   margin: 0 auto;
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
}
.main {
   display: flex;
   justify-content: space-between;
   background-repeat: no-repeat;
   background-image: url(../img/Mask\ Group.png);
}
// .two-places {
//    position: absolute;
// }
.content {
   padding-left: 45px;
   padding-top: 37px;
   width: 85%;
}
h1 {
   margin-top: -3px;
   color: $pink;
   font-size: 50px;
   font-weight: 400;
   text-transform: uppercase;
   letter-spacing: 1px;
}
h3 {
   color: $white;
   font-size: 30px;
   font-weight: 400;
   line-height: 40px;
}
h4 {
   color: $pink;
   font-size: 28px;
   font-weight: 400;
   line-height: 20px;
}
.text {
   color: $white;
   font-size: 22px;
   line-height: 15px;
   font-weight: 400;
}
ul {
   list-style: none;
   
}
li {
   display: flex;
   gap: 15px;
   justify-content: start;
   align-items: center;
   color: $white;
   font-size: 20px;
   line-height: 10px;
   font-weight: 400;
   margin-bottom: -20px;
}
.list-numbers {
   color: $pink;
   margin-left: -39px;
   border: 2px solid $pink;
   padding: 7px 7px;
   border-radius: 100%;
}

.list-numbers-one {
   padding: 7px 8px;
   color: $pink;
   margin-left: -39px;
   border: 2px solid $pink;
   border-radius: 100%;

}
.lady {
   max-width: 363px;
   max-height: 463px;
   align-self: flex-end;
   background-size: contain;
}
.action {
   display: flex;
   gap: 30px;
   max-width: 1260px;
   max-height: 218px;
   background-color: #2E2F2F;
   border-radius: 0 0 30px 30px;
   height: 100%;
}

h2 {
   color: $pink;
   font-size: 40px;
   font-weight: 400;
   line-height: 15px;
}
.description {
   color: $white;
   font-size: 20px;
   font-weight: 400;
   line-height: 28px;
}
.acting-area {
   width: 60%;
}
.call-to-acting {
   margin-left: 50px;
   margin-top: 27px;
   margin-bottom: 30px;
   width: 40%;
}

